body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

header {
  background-color: #f4f7f9;
}

.header-top {
  background-color: #293449;
}

.header-top a,
.header-top label {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-top input {
  background-color: #293449;
  border: none;
}

.header-top a:hover,
.header-top input:hover,
.header-top label:hover {
  background-color: #212a3a;
}

.header-top a[class="order"]:hover {
  background-color: #5fbb2d;
}

.header-top a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.header-top a[class="order"]:active {
  background-color: #518534;
}

.header-top input:focus,
.header-top label:focus {
  color: #000000;

  background-color: #ffffff;
}

.logo a{
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo a:hover {
  background-color: #ca2c37;
}

.logo a:active {
  background-color: #ba2732;
}

.header-top .order {
  background-color: #63a63e;
}

.technomart-definition {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.address a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.address p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

a.enter {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

a.registration {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
}

a.enter:hover,
a.registration:hover {
  color: #ee3643;
}

a.enter:active,
a.registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-bottom {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.header-bottom ul {
  list-style: none;
}

.header-bottom a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.header-bottom a:hover {
  background-color: #1d2739;
}

.header-bottom a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.assortment ul,
.popular-goods ul,
.popular-manufacturers ul,
.services ul {
  list-style: none;
}

.materials {
  background-color: #f6b22d;
}

.materials h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.instrument {
  background-color: #3bbce3;
}

.instrument h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.technics {
  background-color: #dc91d8;
}

.technics h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.discount {
  background-color: #8ed78f;
}

.discount h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.delivery {
  background-color: #ffc047;
}

.delivery h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.drills h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
}

.drills span {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.materials a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(229, 172, 64, 0.1);
}

.materials a:hover {
  background-color: rgba(229, 172, 64, 0.2);
}

.materials a:active {
  background-color: rgba(229, 172, 64, 0.3);
}

.instrument a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(53, 169, 204, 0.1);
}

.instrument a:hover {
  background-color: rgba(53, 169, 204, 0.2);
}

.instrument a:active {
  background-color: rgba(53, 169, 204, 0.3);
}

.technics a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(198, 130, 194, 0.1);
}

.technics a:hover {
  background-color: rgba(198, 130, 194, 0.2);
}

.technics a:active {
  background-color: rgba(198, 130, 194, 0.3);
}

.discount a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(128, 193, 128, 0.1);
}

.discount a:hover {
  background-color: rgba(128, 193, 128, 0.2);
}

.discount a:active {
  background-color: rgba(128, 193, 128, 0.3);
}

.delivery a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(229, 172, 64, 0.1);
}

.discount a:hover {
  background-color: rgba(229, 172, 64, 0.2);
}

.discount a:active {
  background-color: rgba(229, 172, 64, 0.3);
}

.drills a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.drills a:hover {
  background-color: #ca2c37;
}

.drills a:active {
  background-color: #ba2732;
}

.popular-goods-subject {
  background-color: #f9f5f0;
}

.popular-goods h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

a.all-popular-goods {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

a.all-popular-goods:hover {
  background-color: #ca2c37;
}

a.all-popular-goods:active {
  background-color: #ba2732;
}

.popular-manufacturers-subject {
  background-color: #f9f5f0;
}

.popular-manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

a.all-manufacturers {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

a.all-manufacturers:hover {
  background-color: #ca2c37;
}

a.all-manufacturers:active {
  background-color: #ba2732;
}

.services h2,
.services h3 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-delivery,
.service-garanty,
.service-credit {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
}

.service-delivery:hover,
.service-garanty:hover,
.service-credit:hover {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #293449;
}

.service-delivery:active,
.service-garanty:active,
.service-credit:active {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #32425c;
  background-color: #ffffff;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-company ul {
  list-style: none;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-company a {
  font-size: 14px;
  line-height:18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.write-to-us {
  font-size: 14px;
  line-height:18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.about-company a:hover,
.write-to-us:hover {
  background-color: #ca2c37;
}

.about-company a:active,
.write-to-us:active {
  background-color: #ba2732;
}

.form-back label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.form-back input,
.form-back textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.form-back button[type="submit"] {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.footer-top,
.footer-navigation {
  background-color: #32425c;
}

.logo-back a{
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-top p {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation ul {
  list-style: none;
}

.footer-navigation-top a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation-bottom a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-navigation-top a:hover,
.footer-navigation-bottom a:hover {
  text-decoration: underline;
}

.footer-navigation-top a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-navigation-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom ul {
  list-style: none;
}

.feedback,
.developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback:hover,
.developed:hover {
  text-decoration: underline;
}

.feedback:active,
.developed:active {
  color: #ee3643;
}


.personal ul,
.breadcrumbs,
.product-selection ul,
.sort ul,
.catalog-hammer-drill ul,
.pagination ul {
  list-style: none;
}

.personal .name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.personal .name:active {
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);

  background-color: #f1f5f7;
}
.personal .name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.personal .my-orders,
.personal .personal-account {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.personal .my-orders:hover,
.personal .personal-account:hover {
  font-size: 16px;
  color: #ee3643;
  text-decoration: underline;
}

.personal .my-orders:active,
.personal .personal-account:active {
  font-size: 16px;
  color: rgba(50, 66, 92, 0.3);
  text-decoration: underline;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.hammer-drills {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.sort {
  background-color: #f7f3ec;
}

.filters h3,
.sort h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sort a:hover {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}

.sort a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}
.sort a:active {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ee3643;
  text-decoration: none;
}

.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.pagination a:hover {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #bdc6ca;
}

.pagination a:active {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #ee3643;
}


.pagination .current {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.about-hammer-drill {
  background-color: #f4f7f9;
}

.about-hammer-drill h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-hammer-drill p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.filter label {
  text-transform: uppercase;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.appellation
 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}

.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
}

.choice a:nth-child(1) {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.choice a:nth-child(2) {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.modal-back h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-back .make-order {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.modal-back .white-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.form-back,
.map,
.choice,
.modal-back {
  display: none;
}
